<footer class="ems-footer">


    <div class="ems-footer-container">


        <div>

            <h3>
                Employee Management System
            </h3>

            <p>
                Modern Employee Management System
                for efficient workforce management.
            </p>

        </div>



        <div>

            <h3>
                Quick Links
            </h3>

            <a href="#">
                Home
            </a>

            <a href="#">
                Dashboard
            </a>

            <a href="#">
                Employees
            </a>

            <a href="#">
                Departments
            </a>

        </div>



        <div>

            <h3>
                Contact
            </h3>


            <p>
                <i class="bi bi-envelope"></i>
                support@emspro.com
            </p>


            <p>
                <i class="bi bi-telephone"></i>
                +91 98765 43210
            </p>


        </div>


    </div>



    <div class="ems-footer-bottom">

        © 2026 EMS Pro. All Rights Reserved.

    </div>


</footer>