.dashboard-page {
    padding: 20px 30px;
}


/* HERO */

.dashboard-hero {
    background: linear-gradient(135deg,#2563eb,#1e40af);
    border-radius: 30px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 35px;
}


.dashboard-badge {
    background: rgba(255,255,255,0.2);
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.dashboard-hero h1 {
    font-size: 42px;
    font-weight: 800;
    margin: 20px 0;
}


    .dashboard-hero h1 span {
        color: #facc15;
    }


.dashboard-hero p {
    font-size: 17px;
    opacity: .9;
}




.dashboard-date-card {
    background: white;
    color: #1e293b;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 240px;
}


.date-icon {
    width: 55px;
    height: 55px;
    background: #dbeafe;
    color: #2563eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}



.dashboard-date-card h4 {
    margin: 5px 0;
    font-size: 22px;
}



/* KPI CARDS */


.kpi-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-bottom: 40px;
}



.kpi-card {
    background: white;
    border-radius: 22px;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    transition: .3s;
}



    .kpi-card:hover {
        transform: translateY(-5px);
    }



.kpi-icon {
    width: 65px;
    height: 65px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}



    .kpi-icon.blue {
        background: #dbeafe;
        color: #2563eb;
    }


    .kpi-icon.green {
        background: #dcfce7;
        color: #16a34a;
    }


    .kpi-icon.orange {
        background: #ffedd5;
        color: #ea580c;
    }


    .kpi-icon.purple {
        background: #f3e8ff;
        color: #9333ea;
    }


.kpi-card span {
    color: #64748b;
    font-size: 15px;
}


.kpi-card h2 {
    margin: 8px 0;
    font-size: 28px;
    font-weight: 800;
}


.kpi-card small {
    color: #94a3b8;
}



/* CHARTS */


.analytics-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 45px;
}



.analytics-card {
    background: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,.07);
}



    .analytics-card h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }



.chart-container {
    height: 320px;
}





/* QUICK ACTIONS */


.section-title {
    border-left: 5px solid #2563eb;
    padding-left: 20px;
    margin-bottom: 30px;
}



    .section-title h2 {
        font-size: 32px;
        font-weight: 800;
    }



    .section-title p {
        color: #64748b;
        font-size: 18px;
    }




.actions-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-bottom: 45px;
}



.action-card {
    background: white;
    height: 140px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
    color: #1e293b;
    transition: .3s;
}



    .action-card i {
        font-size: 35px;
        color: #2563eb;
        margin-bottom: 15px;
    }



    .action-card span {
        font-size: 17px;
        font-weight: 600;
    }



    .action-card:hover {
        transform: translateY(-6px);
        color: #2563eb;
    }




/* RECENT EMPLOYEES */


.recent-card {
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}



    .recent-card h2 {
        font-size: 30px;
        font-weight: 800;
    }



    .recent-card table {
        margin-top: 20px;
    }



    .recent-card th {
        color: #334155;
        font-weight: 700;
    }



    .recent-card td {
        vertical-align: middle;
    }





/* RESPONSIVE */


@media(max-width:1200px) {

    .kpi-grid {
        grid-template-columns: repeat(2,1fr);
    }


    .actions-grid {
        grid-template-columns: repeat(2,1fr);
    }
}



@media(max-width:768px) {


    .dashboard-hero {
        flex-direction: column;
        gap: 25px;
    }



        .dashboard-hero h1 {
            font-size: 30px;
        }



    .kpi-grid {
        grid-template-columns: 1fr;
    }



    .analytics-grid {
        grid-template-columns: 1fr;
    }



    .actions-grid {
        grid-template-columns: 1fr;
    }



    .dashboard-page {
        padding: 15px;
    }
}
#roleChart {
    height: 320px !important;
}