@model EmployeeManagementSystem.Models.Permission

@{
    ViewData["Title"] = "Create Permission";
}

@if(await PermissionService.HasPermissionAsync("Permission.Create"))
{
<div class="container mt-4">


    <div class="employee-header mb-4">


        <div class="employee-header-left">


            <h1>
                🔑 Create New Permission
            </h1>


            <p>
                Add a new permission for system access control.
            </p>


        </div>


    </div>





    <div class="card shadow-lg border-0 rounded-4">


        <div class="card-header bg-primary text-white">


            <h3 class="mb-0">

                ➕ Permission Information

            </h3>


        </div>




        <div class="card-body p-4">


            <form asp-action="Create">


                <div asp-validation-summary="ModelOnly"
                     class="text-danger mb-3"></div>




                <div class="row g-4">



                    <div class="col-md-6">


                        <label asp-for="PermissionName"
                               class="form-label fw-semibold">

                            Permission Name

                        </label>



                        <input asp-for="PermissionName"
                               class="form-control"
                               placeholder="Example: Employee.Create" />



                        <span asp-validation-for="PermissionName"
                              class="text-danger"></span>


                    </div>






                    <div class="col-md-6">


                        <label asp-for="ModuleName"
                               class="form-label fw-semibold">

                            Module Name

                        </label>



                        <input asp-for="ModuleName"
                               class="form-control"
                               placeholder="Example: Employee" />



                        <span asp-validation-for="ModuleName"
                              class="text-danger"></span>


                    </div>







                    <div class="col-md-6">


                        <label asp-for="IsActive"
                               class="form-label fw-semibold">

                            Status

                        </label>



                        <select asp-for="IsActive"
                                class="form-select">


                            <option value="true">
                                Active
                            </option>


                            <option value="false">
                                Inactive
                            </option>


                        </select>


                    </div>








                    <div class="col-12">


                        <label asp-for="Description"
                               class="form-label fw-semibold">

                            Description

                        </label>



                        <textarea asp-for="Description"
                                  class="form-control"
                                  rows="4"
                                  placeholder="Enter permission description"></textarea>



                        <span asp-validation-for="Description"
                              class="text-danger"></span>


                    </div>



                </div>






                <div class="mt-5 d-flex justify-content-end">


                    <a asp-action="Index"
                       class="btn btn-secondary me-3">


                        ← Back


                    </a>





                    <button type="submit"
                            class="btn btn-primary">


                        💾 Save Permission


                    </button>



                </div>



            </form>


        </div>


    </div>



</div>
}
else
{
    <div class="alert alert-danger">
        You don't have permission to create permissions.
    </div>
}



@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}