@model EmployeeManagementSystem.Models.Permission

@{
    ViewData["Title"] = "Delete Permission";
}

@if(await PermissionService.HasPermissionAsync("Permission.Delete"))
{

<div class="container mt-4">


    <div class="employee-header mb-4">


        <div class="employee-header-left">


            <h1 class="text-danger">

                🗑 Delete Permission

            </h1>


            <p>

                Remove permission from the system.

            </p>


        </div>


    </div>





    <div class="card shadow-lg border-0 rounded-4">


        <div class="card-header bg-danger text-white">


            <h3 class="mb-0">

                ⚠ Delete Confirmation

            </h3>


        </div>





        <div class="card-body p-4">



            <div class="alert alert-warning">


                <strong>
                    Warning!
                </strong>


                Deleting this permission may affect role access configuration.


            </div>






            <div class="row g-4">



                <div class="col-md-6">


                    <div class="border rounded p-3">


                        <label class="text-muted">

                            Permission Name

                        </label>


                        <h5 class="fw-bold">

                            @Model.PermissionName

                        </h5>


                    </div>


                </div>





                <div class="col-md-6">


                    <div class="border rounded p-3">


                        <label class="text-muted">

                            Module

                        </label>


                        <h5>


                            <span class="badge bg-primary">

                                @Model.ModuleName

                            </span>


                        </h5>


                    </div>


                </div>





                <div class="col-md-6">


                    <div class="border rounded p-3">


                        <label class="text-muted">

                            Status

                        </label>


                        <h5>


                            @if (Model.IsActive)
                            {

                                <span class="badge bg-success">

                                    Active

                                </span>

                            }
                            else
                            {

                                <span class="badge bg-danger">

                                    Inactive

                                </span>

                            }


                        </h5>


                    </div>


                </div>






                <div class="col-md-6">


                    <div class="border rounded p-3">


                        <label class="text-muted">

                            Permission Id

                        </label>


                        <h5>

                            @Model.PermissionId

                        </h5>


                    </div>


                </div>



            </div>







            <hr class="my-4" />






            <form asp-action="Delete">


                <input type="hidden"
                       asp-for="PermissionId" />



                <a asp-action="Index"
                   class="btn btn-secondary">

                    ← Cancel

                </a>




                <button type="submit"
                        class="btn btn-danger ms-2"
                        onclick="return confirm('Are you sure you want to delete this permission?');">


                    🗑 Delete Permission


                </button>


            </form>




        </div>


    </div>



</div>
}
else
{
    <div class="alert alert-danger">
        You don't have permission to delete permissions.
    </div>
}